body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff; /* Set background to white */
  color: #000000; /* Set text color to black */
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
  border: 1px solid #000000; /* Border color black */
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #000000; /* Set button background to black */
  color: #ffffff; /* Set button text color to white */
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}

div {
  margin-top: 20px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

span {
  margin-right: 10px;
}

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-right: 10px; /* Add right padding */
}

.todo-item button {
  margin-left: auto;
  background-color: #000000; /* Set button background to black */
}

.todo-item span {
  flex-grow: 1;
  padding-right: 10px; /* Add right padding */
}
